* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

form {
    width: 400px;
    margin: 30px auto;
    padding: 10px;
    border: 1px solid coral;
}

.celcius form {
    border: none;
    padding: 0;
}

.celcius fieldset {
    border: 1px solid plum;
    padding:10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

span.hot {
    text-transform: uppercase;
    color: firebrick;
}

input {
    display: block;
    margin-bottom: 10px;
    height: 30px;
}

a {
    display: block;
    text-align: center;
}

.box {
    margin: 20px auto;
    width: 400px;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}