/* Styles for week 8 */
* {
    padding:0;
    margin: 0;
    box-sizing:border-box;
}

body {
    background-color: beige;
}

#wrapper {
    max-width:1200px;
    margin: 30px auto;
}

.inner {
    max-width:1200px;
    /* use the values from a 940px grid */
    margin:0 auto;
}

main {
    float:left;
    width:61.70%;
}

aside {
    float: right;
    width:36.17%;
}

figure {
    width: 250px;
    height: 180px;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

footer {
    clear: both;
    height: 60px;
    line-height: 60px;
}

footer li {
    list-style-type: none;
    float: left;
    margin-right: 30px;
}