main.form {
    width:95%;
    margin: 0 auto;
    float: none;
}

form {
    width:400px;
    margin:20px auto;
}

fieldset {
    border: 1px solid thistle;
    padding: 10px;
}

label {
    display:block;
    margin-bottom:5px;
    font-weight: bold;
    font-size: 1.2em;
}

input[type=submit] {
    display: block;
}
input[type=text],input[type=email],input[type=tel] {
    display: block;
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
}

form p {
    text-align: center;
    margin: 10px auto;
}

.error {
    display: block;
    color: red;
    margin-bottom: 8px;
    font-style: italic;
}

form ul {
    margin-left: 10px;
    list-style-type: none;
    margin-bottom: 10px;
}

select, textarea {
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    resize: none;
    height: 140px;
}