/* Styles for my website */
/* Start CSS Reset  */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
/* END CSS Reset  */

body {
  background: #645394;
}

header {
  background: #22223b;
  overflow: hidden;
  padding: 20px 0;
}

#inner-header,
#inner-footer {
  margin: 0px auto;
  max-width: 1000px;
}

#logo {
  float: left;
  width: 130px;
}

nav ul {
  float: right;
  margin-top: 30px;
}

nav li {
  font-size: 1.7rem;
  float: left;
  margin-top: 40px;
  margin-left: 40px;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: #f2e9e4;
}

nav a.current {
  box-shadow: inset 0 0 5px;
  padding: 10px;
  border-radius: 9px;
}

#wrapper {
  margin: 20px auto;
  max-width: 1000px;
}

#wrapper .olive {
  background:#c3d0c4;   
 }

#wrapper .raz {
  background:#b63d61;   
 }
#wrapper .empress {
  background:#946972;   
}
#wrapper .skyBlue {
  background:#85C4EB;   
}
#wrapper .helio {
  background:#9e54c5;   
}
 
#wrapper .slateBlue {
  background:#696ECB;   
}
#wrapper .camelot {
  background:#ad5482; 
}


main {
  width: 62%;
  background: #9398cf;
  float: left;
  margin-bottom: 20px;
}

main.index {
  width:95%;
  padding: 10px;
  margin: 0 auto;
  float: none;
}

main.thx {
  width: 90%;
  margin: 20px auto;
  padding:30px;
  float: none;
  height: 200px;
}

main.thx h1, main.thx p, main.index h1 {
  text-align: center;
}
 
h1,h2,h3,h4 {
  margin: 16px 0;
}
section {
  margin: 20px 10px;
}

/* table Start */
table {
  border:2px solid #645394;
  border-collapse:collapse;
}

td {
  border:2px solid #645394;
}

td:first-child {
  width: 180px;
  height: 200px;
}

td.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* table end */

p {
  font-size: 18px;
  margin: 10px 0;
}


aside {
  width: 35%;
  background: #9398cf;
  float: right;
  padding: 5px 12px;
}

aside ul {
  margin-left: 25px;
}

aside h3 {
    margin-top:25px;
    margin-bottom: 0;
}

cite {
    display: block;
    text-align: right;
    margin-right: 20px;
}

cite p {
    margin-right: 30px;
}

footer {
  background: #22223b;
  border-top: 1px solid #666;
  clear: both;
  line-height: 20px;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 60px;

}

footer li {
  font-size: 1.2rem;
  list-style-type: none;
  color: #f2e9e4;
  padding: 10px 8px;
}

footer li a {
  color: #f2e9e4;
}
